In [22]:
import pandas as pd
import numpy as np
df = pd.read_csv("data/bjd_info_except_boundary.csv",encoding='cp949')
df

,bjd_cd,center_point,center_long,center_lati,bjd_nm,level,sd_cd,sd_nm,sgg_cd,sgg_nm,emd_cd,emd_nm,li_nm,sgg_cnt,emd_cnt,li_cnt,sgg_list,emd_list,li_list
0,1100000000,POINT (126.9918052066339 37.551902938787826),126.991805,37.551903,서울특별시,0,11,서울특별시,11000.0,NaN,11000000,NaN,NaN,25,467,0,['서울특별시 종로구' '서울특별시 중구' '서울특별시 용산구' '서울특별시 성동구...,NaN,NaN
1,1111000000,POINT (126.97732129487213 37.59491731931452),126.977321,37.594917,서울특별시 종로구,1,11,서울특별시,11110.0,종로구,11110000,NaN,NaN,0,87,0,NaN,['서울특별시 종로구 청운동' '서울특별시 종로구 신교동' '서울특별시 종로구 궁정...,NaN
2,1111010100,POINT (126.96932389009248 37.58920545163482),126.969324,37.589205,서울특별시 종로구 청운동,2,11,서울특별시,11110.0,종로구,11110101,청운동,NaN,0,0,0,NaN,NaN,NaN
3,1111010200,POINT (126.96794151918255 37.58450634891726),126.967942,37.584506,서울특별시 종로구 신교동,2,11,서울특별시,11110.0,종로구,11110102,신교동,NaN,0,0,0,NaN,NaN,NaN
4,1111010300,POINT (126.9727063196789 37.58469795480878),126.972706,37.584698,서울특별시 종로구 궁정동,2,11,서울특별시,11110.0,종로구,11110103,궁정동,NaN,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20535,5013032022,POINT (126.81993411079112 33.35345494886882),126.819934,33.353455,제주특별자치도 서귀포시 표선면 하천리,3,50,제주특별자치도,50130.0,서귀포시,50130320,표선면,하천리,0,0,0,NaN,NaN,NaN
20536,5013032023,POINT (126.78294049535737 33.40787215837466),126.782940,33.407872,제주특별자치도 서귀포시 표선면 성읍리,3,50,제주특별자치도,50130.0,서귀포시,50130320,표선면,성읍리,0,0,0,NaN,NaN,NaN
20537,5013032024,POINT (126.73138110059661 33.38282779479983),126.731381,33.382828,제주특별자치도 서귀포시 표선면 가시리,3,50,제주특별자치도,50130.0,서귀포시,50130320,표선면,가시리,0,0,0,NaN,NaN,NaN
20538,5013032025,POINT (126.79798610869314 33.3270085854443),126.797986,33.327009,제주특별자치도 서귀포시 표선면 세화리,3,50,제주특별자치도,50130.0,서귀포시,50130320,표선면,세화리,0,0,0,NaN,NaN,NaN
20539,5013032026,POINT (126.77320591717233 33.324907843131484),126.773206,33.324908,제주특별자치도 서귀포시 표선면 토산리,3,50,제주특별자치도,50130.0,서귀포시,50130320,표선면,토산리,0,0,0,NaN,NaN,NaN

In [23]:
df = df[df['sd_nm']=='서울특별시']

In [24]:
df = df[['emd_nm','center_long','center_lati']]

In [25]:
df.rename(columns={'emd_nm': 'BJDONG_NM'}, inplace=True)
df.rename(columns={'center_long': 'CENTER_LONG'}, inplace=True)
df.rename(columns={'center_lati': 'CENTER_LATI'}, inplace=True)

In [26]:
df

    BJDONG_NM  CENTER_LONG  CENTER_LATI
0         NaN   126.991805    37.551903
1         NaN   126.977321    37.594917
2         청운동   126.969324    37.589205
3         신교동   126.967942    37.584506
4         궁정동   126.972706    37.584698
..        ...          ...          ...
488       둔촌동   127.144727    37.528264
489       암사동   127.131062    37.557805
490       성내동   127.128992    37.530494
491       천호동   127.127631    37.544376
492       강일동   127.173384    37.568916

[493 rows x 3 columns]

In [27]:
df.to_csv('BJDONG_NM.csv', index=False, encoding='utf-8')